<ion-header>
  <ion-navbar>
    <ion-title>Face Scanner</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<ion-item class="no-border">
    <ion-label>Return image file URI</ion-label>
    <ion-toggle energized [(ngModel)]="useURI"></ion-toggle>
  </ion-item>-->
  <ion-card>
    <img [src]="imageData" *ngIf="imageData" />
    <!--<ion-card-content>
      <ion-card-title>
        <div *ngIf="useURI">
          Using URI
        </div>
        <div *ngIf="!useURI">
          Using Base64
        </div>
      </ion-card-title>
      <p *ngIf="useURI">
        Your URI is {{ imageData }}
      </p>
      <p *ngIf="!useURI">
        Your Base64 image has {{ (imageData + '').length }} bytes
      </p>
    </ion-card-content>-->
  </ion-card>
  <ion-fab bottom right>
    <button ion-fab mini (click)="getPicture(1)"><ion-icon name="md-camera"></ion-icon></button>
  </ion-fab>
  <ion-fab bottom left *ngIf="showIdBtn">
    <button ion-fab mini (click)="sendPostRequest()"><ion-icon name="md-search"></ion-icon></button>
  </ion-fab>
</ion-content>
